<footer class="page-footer footer-copyright green-background">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text" i18n="@@aboutUs">Rólunk</h5>
        <p class="grey-text text-lighten-4" i18n="@@aboutUsText">A modellt és a weboldalt az ingatlanpiaci érdeklődésünk miatt fejlesztettük ingyenesen, mindenkinek. Azonban az árazáson kívül tudunk még érzékenységi vizsgálatot, illetve értékoptimalizálást csinálni ingatlanfejlesztők és befektetők számára.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text" i18n="@@links">Linkek</h5>
        <ul>
          <li>
            <a class="grey-text text-lighten-3" [routerLink]="['']" i18n="@@evaluation">Értékelés</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" [routerLink]="['/about-us']" i18n="@@aboutus">Rólunk</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright light-green-background">
    <div class="container">
      <div class="row">
        <div class="col l6 s12"><p>Lakas.info &copy; 2019</p></div>
        <div class="col l4 offset-l2 s12">
          <ul>
            <li>
              <a class="grey-text text-lighten-4" href="#!" i18n="@@termsAndConditions">Felhasználási feltételek</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
