<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card grey-background darken-1">
        <div class="card-content green-text">
          <span class="card-title" i18n="@@predictionTitle">Az Ön által megadott ingatlan értéke:</span>
          <p class="card-title orange-text" i18n="@@priceInHuf">{{predictedPrice | number}} millió forint</p>
        </div>
        <div class="card-action">
          <div class="center-align">
            <a *ngIf="onSmallScreen" (click)="clickBack()" class="btn waves-effect waves-light" i18n="@@back">Vissza</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
