::ng-deep :root {
  --main-lakas-info-color: #1d665d;
  --second-lakas-info-color: 82, 161, 151;
  --third-lakas-info-color: #c1ddd9;
  --background-lakas-info-color: #f1f1f7;
  --warning-lakas-info-color: #e8940c;
}

.primary-overlay {
  background: rgba(var(--second-lakas-info-color), 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main-header {
  background: url(/assets/img/background_index1.jpg);
  background-size: cover;
  background-position: center;
  min-height: 600px;
  color: #fff;
}

.main-header .showcase {
  padding-top: 100px;
}

.main-header-inner {
  background: url(/assets/img/background_index1.jpg);
  background-size: cover;
  background-position: center;
  min-height: 350px;
  color: #fff;
}

.main-header-inner .showcase {
  padding-top: 50px;
}

.active-link {
  color: #d847f1;
  font-weight: bold;
}

.section-developers {
  background: url(/assets/img/code.jpg);
  position: relative;
  background-size: cover;
  background-position: center;
  border-top: #333 solid 5px;
  border-bottom: #333 solid 5px;
  min-height: 160px;
}

.section-podcast {
  position: relative;
  background-size: cover;
  background-position: center;
  border-top: #333 solid 5px;
  border-bottom: #333 solid 5px;
  min-height: 160px;
}

.section-podcast a {
  margin-top: 30px;
}

.section-podcast .primary-overlay {
  background: rgba(112, 81, 176, 0.9);
}

.carousel-item p {
  font-size: 20px !important;
}

.tabs .indicator {
  background-color: #6a1b9a !important;
}

.btn-extend {
  display: block;
  width: 100%;
}

@media (max-width: 500px) {
  .section-developers,
  .section-podcast {
    min-height: 240px;
  }
}

.green-text {
  color: var(--main-lakas-info-color) !important;
}

.orange-text {
  color: var(--warning-lakas-info-color) !important;
}

.green-background {
  background-color: var(--main-lakas-info-color) !important;
}

.light-green-background {
  background-color: var(--second-lakas-info-color) !important;
}

.third-green-background {
  background-color: var(--third-lakas-info-color) !important;
}

.grey-background {
  background-color: var(--background-lakas-info-color) !important;
}
