<div class="navbar-fixed" id="navbar">
  <nav [ngClass] = "!onSmallScreen ? 'transparent' : 'green-background'" #navbar>
    <div class="container">
      <div class="nav-wrapper">
        <a [routerLink]="['']" class="brand-logo" i18n="@@lakasInfo">Lakás.info</a>
        <a [routerLink]="['']"
           data-target="mobile-demo"
           class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a [routerLink]="['/evaluation']" i18n="@@evaluation">Értékelés</a></li>
          <li><a [routerLink]="['/about-us']" i18n="@@aboutUs">Rólunk</a></li>
          <!--<li><a [routerLink]="['/registration']" i18n="@@subscription">Feliratkozás</a></li>-->
          <!--<li><a [routerLink]="['/dashboard']" i18n="@@dashboard">Dashboard</a></li>-->
        </ul>
      </div>
    </div>
  </nav>
</div>


<ul class="sidenav" id="mobile-demo">
  <li><a [routerLink]="['/evaluation']" i18n="@@evaluation">Értékelés</a></li>
  <li><a [routerLink]="['/about-us']" i18n="@@index">Rólunk</a></li>
  <!--<li><a [routerLink]="['/registration']" i18n="@@subscription">Feliratkozás</a></li>-->
  <!--<li><a [routerLink]="['/dashboard']" i18n="@@dashboard">Dashboard</a></li>-->
</ul>
