<header *ngIf="!onSmallScreen" class="main-header-inner white-text">
  <div class="primary-overlay">
    <app-navbar></app-navbar>
    <div class="showcase container">
      <div class="row">
        <div class="col s12 m10 offset-m1 center">
          <h4 i18n="@@introductionHeader">Üdvözöljük a Lakás.info-n!</h4>
          <h1 i18n="@@evaluation">Ingatlanértékelés</h1>
          <h4 i18n="@@evaluationContext">Néhány egyszerű adat megadásával megtudhatja, hogy becslésünk szerint mennyit ér ingatlanja!</h4>
        </div>
      </div>
    </div>
  </div>
</header>
<app-navbar *ngIf="onSmallScreen"></app-navbar>


      <!--------------------------------------------------------------------------------------------------------------------->

<section class="section section-signup">
  <div class="container form">
    <form (ngSubmit)="initiateSearch()" #f="ngForm">
      <!--<div class="center-align evaluation-title">-->
          <!--<div class="col 12">-->
            <!--<h3 i18n="@@evaluationTitle" class="green-text" >Tudja meg ingatlanja értékét!</h3>-->
            <!--<h4 i18n="@@evaluationContext">Néhány egyszerű adat megadásával megtudhatja, hogy becslésünk szerint mennyit ér ingatlanja!</h4>-->
          <!--</div>-->
      <!--</div>-->
      <div class="row">
        <div class="col l6 m12 inputs">





          <div id="required" [ngClass]="{'required-inputs-incomplete': !f.valid}">
      <!--------------------------------------------------------------------------------------------------------------------->

            <div class="row">
              <div class="input-field col s12">
                <select id="district"
                        [(ngModel)]="predictionRequest.district"
                        name="district"
                        #district="ngModel"
                        required>
                  <option *ngFor="let district of districts" [value]="district" i18n-value="@@districtValue">{{district}}</option>
                </select>
                <label for="district" i18n="@@district">Kerület</label>
                <div *ngIf="district.invalid && (district.dirty || district.touched)">
                  <p class="error-message" *ngIf="district.errors.required" i18n="@@districtRequired">A kerületet kötelező megadni.</p>
                </div>
              </div>
            </div>

      <!--------------------------------------------------------------------------------------------------------------------->

            <div class="row">
              <div class="input-field col s12">
                <label for="area" i18n="@@area">Terület: {{ predictionRequest.area }} m<sup>2</sup></label>
                <br>
                <p class="range-field">
                  <input type="range"
                         id="area"
                         name="area"
                         [(ngModel)]="predictionRequest.area"
                         #area="ngModel"
                         min="0"
                         max="350"/>
                </p>
              </div>
            </div>

      <!--------------------------------------------------------------------------------------------------------------------->

            <div class="row">
              <div class="input-field col s6">
                <input
                       id="whole_rooms"
                       [(ngModel)]="predictionRequest.whole_rooms"
                       name="whole_rooms"
                       #whole_rooms="ngModel"
                       type="text"
                       pattern="^([1-9]|10)$"
                       required
                i18n-placeholder="@@roomPlaceholder">
                <label for="whole_rooms" i18n="@@numberOfRooms">Szobák száma</label>
                <div *ngIf="whole_rooms.invalid && (whole_rooms.dirty || whole_rooms.touched)">
                  <p class="error-message" *ngIf="whole_rooms.errors.required" i18n="@@roomsIsRequired">A szobák számát kötelező megadni.</p>
                  <p class="error-message" *ngIf="whole_rooms.errors.pattern" i18n="@@roomsOutOfBounds">A szobák száma 1 és 10 között kell, hogy
                    legyen.</p>
                </div>
              </div>
              <div class="input-field col s6">
                <input
                       id="half_rooms"
                       [(ngModel)]="predictionRequest.half_rooms"
                       name="half_rooms"
                       #half_rooms="ngModel"
                       type="text"
                       pattern="^([0-8])$"
                       required
                i18n-placeholder="@@halfRoomPlaceholder">
                <label for="half_rooms" i18n="@@numberOfHalfRooms">Félszobák száma</label>
                <div *ngIf="half_rooms.invalid && (half_rooms.dirty || half_rooms.touched)">
                  <p class="error-message" *ngIf="half_rooms.errors.required" i18n="@@halfRoomsIsRequired">A félszobák számát kötelező megadni.</p>
                  <p class="error-message" *ngIf="half_rooms.errors.pattern" i18n="@@halfRoomsOutOfBounds">A félszobák száma 0 és 8 között kell, hogy
                    legyen.</p>
                </div>
              </div>
            </div>

      <!--------------------------------------------------------------------------------------------------------------------->

            <div class="row">
              <div class="input-field col s12">
                <select id="floor"
                        [(ngModel)]="predictionRequest.floor"
                        name="floor"
                        #floor="ngModel"
                        required>
                  <option *ngFor="let floor of floors" [value]="floor.modelInput">{{floor.visibleValue}}</option>
                </select>
                <label for="floor" i18n="@@floor">Emelet</label>
                <p class="error-message" *ngIf="!floor.valid && floor.touched" i18n="@@floorError">Adja meg hányadik emeleten található a
                  lakás</p>
              </div>
            </div>

      <!--------------------------------------------------------------------------------------------------------------------->

            <div class="row">
              <label >
                <input type="checkbox" [(ngModel)]="hasTeras"  name = "hasTeras" id="hasTeras" />
                <span i18n="@@hasTeras">Rendelkezik terasszal </span>
              </label>
              <div *ngIf="hasTeras" class="input-field col s12">
                <label for="teras" i18n="@@terasSize">Terasz mérete: {{ teras.value }} m<sup>2</sup></label>
                <br>
                <p class="range-field">
                  <input type="range"
                         id="teras"
                         name="teras"
                         [(ngModel)]="predictionRequest.teras"
                         #teras="ngModel"
                         min="0"
                         max="100"/>
                </p>
              </div>
            </div>

            <div class="warning" *ngIf="!f.valid" i18n="@@requiredInputMissing">Még nem adott meg minden kötelező adatot!</div>
          </div>
<!--------------------------------------------------------------------------------------------------------------------->
      <div id="not_required">
        <div class="row">
          <div class="input-field col s12">
            <select id="year"
                    [(ngModel)]="predictionRequest.year"
                    name="year"
                    #year="ngModel">
              <option *ngFor="let year of years" [value]="year.modelInput">{{year.visibleValue}}</option>
            </select>
            <label for="year" i18n="@@year">Építés éve</label>
          </div>
        </div>

  <!--------------------------------------------------------------------------------------------------------------------->

        <div class="row">
          <div class="input-field col s12">
            <select id="comfort"
                    [(ngModel)]="predictionRequest.comfort"
                    name="comfort"
                    #comfort="ngModel">
              <option *ngFor="let comfort of comforts" [value]="comfort.modelInput">{{comfort.visibleValue}}</option>
            </select>
            <label for="comfort" i18n="@@comfort">Komfort</label>
          </div>
        </div>

  <!--------------------------------------------------------------------------------------------------------------------->

        <div class="row">
          <div class="input-field col s12">
            <select id="elevator"
                    [(ngModel)]="predictionRequest.elevator"
                    name="elevator"
                    #elevator="ngModel">
              <option *ngFor="let elevator of elevators" [value]="elevator.modelInput">{{elevator.visibleValue}}</option>
            </select>
            <label for="elevator" i18n="@@elevator">Lift</label>
          </div>
        </div>

  <!--------------------------------------------------------------------------------------------------------------------->

        <div class="row">
          <div class="input-field col s12">
            <select id="height"
                    [(ngModel)]="predictionRequest.height"
                    name="height"
                    #height="ngModel">
              <option *ngFor="let height of heights" [value]="height.modelInput">{{height.visibleValue}}</option>
            </select>
            <label for="height" i18n="@@height">Magasság</label>
          </div>
        </div>
  <!--------------------------------------------------------------------------------------------------------------------->

        <!--<div class="row">-->
          <!--<div class="input-field col s12">-->
            <!--<select id="bathroom"-->
                    <!--[(ngModel)]="predictionRequest.bathroom"-->
                    <!--name="bathroom"-->
                    <!--#bathroom="ngModel">-->
              <!--<option *ngFor="let bathroom of bathrooms" [value]="bathroom.modelInput">{{bathroom.visibleValue}}</option>-->
            <!--</select>-->
            <!--<label for="bathroom" i18n="@@bathroom">Fürdőszoba</label>-->
          <!--</div>-->
        <!--</div>-->

  <!--------------------------------------------------------------------------------------------------------------------->

        <div class="row">
          <div class="input-field col s12">
            <select id="view"
                    [(ngModel)]="predictionRequest.view"
                    name="view"
                    #view="ngModel">
              <option *ngFor="let view of views" [value]="view.modelInput">{{view.visibleValue}}</option>
            </select>
            <label for="view" i18n="@@view">Kilátás</label>
          </div>
        </div>

  <!--------------------------------------------------------------------------------------------------------------------->
        <div class="row">
          <div class="input-field col s12">
            <select id="parking"
                    [(ngModel)]="predictionRequest.parking"
                    name="parking"
                    #parking="ngModel">
              <option *ngFor="let parking of parkings" [value]="parking.modelInput">{{parking.visibleValue}}</option>
            </select>
            <label for="parking" i18n="@@parking">Parkolás</label>
          </div>
        </div>

  <!--------------------------------------------------------------------------------------------------------------------->

        <div class="row">
          <div class="input-field col s12">
            <select id="airconditioning"
                    [(ngModel)]="predictionRequest.airconditioning"
                    name="airconditioning"
                    #airconditioning="ngModel">
              <option *ngFor="let airconditioning of airconditionings" [value]="airconditioning.modelInput">
                {{airconditioning.visibleValue }}</option>
            </select>
            <label for="airconditioning" i18n="@@airconditioning">Klíma</label>
          </div>
        </div>

  <!--------------------------------------------------------------------------------------------------------------------->

        <div class="row">
          <div class="input-field col s12">
            <select id="condition"
                    [(ngModel)]="predictionRequest.condition"
                    name="condition"
                    #condition="ngModel">
              <option *ngFor="let condition of conditions" [value]="condition.modelInput">
                {{condition.visibleValue}}</option>
            </select>
            <label for="condition" i18n="@@condition">Állapot</label>
          </div>
        </div>

  <!--------------------------------------------------------------------------------------------------------------------->

        <div class="row">
          <div class="input-field col s12">
            <select id="heating"
                    [(ngModel)]="predictionRequest.heating"
                    name="heating"
                    #heating="ngModel">
              <option *ngFor="let heating of heatings" [value]="heating.modelInput">{{heating.visibleValue}}</option>
            </select>
            <label for="heating" i18n="@@heating">Fűtés</label>
          </div>
        </div>
      </div>
<!--------------------------------------------------------------------------------------------------------------------->


          <!--------------------------------------------------------------------------------------------------------------------->

        </div>
        <div class="col l6 s12 output-sticky-bigscreen" [ngClass]="{'card' : onSmallScreen}">

          <section *ngIf="isPredictionComplete">
            <evaluation-response [predictedPrice]="predictionResponse"
                                 (shouldGoBack)="onBackClick($event)"></evaluation-response>
          </section>
          <div class="progress">
            <div class="determinate" [ngStyle]="{width: getWidth(), 'background-color': (!f.valid ? '#e8940c' : 'green')}" ></div>
          </div>
          <div class="center-align">
            <button class="btn btn-large"
                    [disabled]="!f.valid"
                    type="submit" i18n="@@send">
              Küldés<i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>


