  <header class="main-header white-text">
    <div class="primary-overlay">
      <app-navbar></app-navbar>
      <div class="showcase container">
        <div class="row">
          <div class="col s12 m10 offset-m1 center">
            <h4 i18n="@@lakasInfo">Lakás.info</h4>
            <h1 i18n="@@introductionBody">Értékelje ingatlanját pillanatok alatt!</h1>
            <h5 i18n="@@introductionSubtitle">Egy forradalmian új módszer segítségével egy szempillantás alatt megállapítjuk ingatlanja értékét!</h5>
            <br>
            <br>
            <a [routerLink]="['/evaluation']" class="btn btn-large green-background white white-text" i18n="@@try">Kipróbálom</a>
            <!--<a [routerLink]="['/registration']" class="btn btn-large green-background white-text" i18n="@@subscription">Feliratkozás</a>-->
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Section: Icon Boxes -->
  <!--<section class="section section-icons center">-->
    <!--<div class="container">-->
      <!--<div class="row">-->
        <!--<div class="col s12 m6">-->
          <!--<div class="card-panel">-->
            <!--<i class="fa fa-home fa-3x green-text"></i>-->
            <!--<h5 class="grey-text text-darken-4" i18n="@@evaluation">Értékelés</h5>-->
            <!--<p i18n="@@evaluationDetails">Csak meg kell adnia ingatlanja néhány fontosabb adatát és azonnal megtudja annak jelenlegi, piaci értékét!</p>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="col s12 m6">-->
          <!--<div class="card-panel">-->
            <!--<i class="fa fa-envelope-open fa-3x green-text"></i>-->
            <!--<h5 class="grey-text text-darken-4" i18n="@@subscription">Feliratkozás</h5>-->
            <!--<p i18n="@@subscriptionDetails">Ha feliratkozik oldalunkra rendszeresen kap értesítést a legjobb lakásárakról! Ne hagyja ki</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</section>-->

  <!-- Section: Rólunk -->
  <section class="section section-about grey-background lighten-4">
    <div class="container">
      <div class="row">
        <div class="col s12 m6">
          <h3>
            <span class="green-text" i18n="@@aboutUs">Rólunk</span></h3>
          <p class="flow-text" i18n="@@aboutUsText">A modellt és a weboldalt az ingatlanpiaci érdeklődésünk miatt fejlesztettük ingyenesen, mindenkinek. Azonban az árazáson kívül tudunk még érzékenységi vizsgálatot, illetve értékoptimalizálást csinálni ingatlanfejlesztők és befektetők számára.</p>
        </div>
        <div class="col s12 m6">
          <img src="../../../assets/img/about_us_1.jpg" alt="" class="circle responsive-img">
        </div>
      </div>
    </div>
  </section>

  <!-- Section: Banner -->
  <!--<section class="section section-developers white-text">-->
    <!--<div class="primary-overlay valign-wrapper">-->
      <!--<div class="container">-->
        <!--<div class="row">-->
          <!--<div class="col s12 center">-->
            <!--<h3>For Developers, By Developers</h3>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</section>-->

  <!-- Section: Kapcsolat -->
  <section class="section section-about grey-background lighten-4">
    <div class="container">
      <div class="row">

        <div class="col s12 m6">
          <img src="../../../assets/img/contact_us_1.jpg" alt="" class="circle responsive-img">
        </div>
        <div class="col s12 m6">
          <h3>
            <span class="green-text" i18n="@@contacts">Kapcsolat</span></h3>
          <p class="flow-text" i18n="@@contactInfo">Ha bármi kérdése merül fel a szolgáltatással kapcsolatban vagy egyszerűen szeretné elmondani véleményét akkor kérjük az alábbi címen keressen minket:</p>
          <p class="flow-text bold-text">info@lakas.info</p>
        </div>
      </div>
    </div>
  </section>

