<header class="main-header-inner white-text">
  <div class="primary-overlay">
    <app-navbar></app-navbar>
    <div class="showcase container">
      <div class="row">
        <div class="col s12 m10 offset-m1 center">
          <h4 i18n="@@lakasInfo">Lakás.info</h4>
          <h1 i18n="@@dashboard">Dashboard</h1>
        </div>
      </div>
    </div>
  </div>
</header>
